---
// import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Seo, { type Preload } from "../components/Seo.astro";

interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Seo
      canonical={canonical}
      description={description}
      image={image}
      preload={preload}
      title={title}
    />

    <ViewTransitions />
  </head>
  <body class="bg-white w-screen h-screen">
    <main class="max-w-7xl min-w-80 ml-auto mr-auto px-4">
      <!-- <Header /> -->
      <slot />
    </main>
  </body>
</html>
